
.head1 {
background-color: black;
color: white;
display: flex;
align-items: center;
justify-content: space-between;
padding: 12px 24px;
}

.member_icon img {
width: 30px;
height: auto;
}

.base1 {
display: flex;
gap: 10px;
}

.base1 ul {
margin: 0;
padding: 0;
list-style: none;
display: flex;
gap: 10px;
}

.base1 ul li {
display: flex;
align-items: center;
gap: 4px;
}

p {
margin: 0;
}

.material-symbols-outlined {
font-size: 16px;
}

body {
margin: 0;
}
.nav {
    color: white;
    display: flex;
    align-items: center;
    padding: 24px;
}

.logo img {
    width: 200px;
    height: auto;
}

.base {
    margin-left: 40px;
}

.nav .base a {
    color: black;
    text-decoration: none;
    padding: 0 16px;
}
.btn {
    background-color: red;
    padding: 12px 20px;
    border-radius: 24px;
    border: none;
    color: white;
    margin-left: auto;
    display: block;
}

section {
    display: flex;
    gap: 16px;
    padding: 24px;
    padding-top: 0;
}

section .card1 {
    width: 25%;
}

section .card1 img {
    width: 100%;
}